body {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
}

.project-card {
    width: 200px;
}